<!DOCTYPE html>
<html>
  <head>
    <title>RailsReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <h3><%= flash[:notice] %></h3>
    <% end %>
    <%= yield %>
  </body>
</html>
