<h1>Profile Page for <%= @user.username %></h1>

<h3><%= flash[:notice] %></h3>

<%= image_tag @user.profile_photo %>

<hr>

<h4>Songs: </h4>

<ol>
  <% @user.songs.each do |song| %>
    <li><%= song.title %> by <%= song.artist.name %></li>
  <% end %>
</ol>

<hr>
<%= button_to "Delete Account", @user, method: :delete %>
